@font-face{src: url("media/fonts/Ransom.ttf");
font-family: ransom;}
@font-face {
    font-family: winkle;
    src: url("media/fonts/Winkle-Regular.ttf");
}
* {margin: 0;padding: 0;}
h1{
    font-family: ransom, system-ui;
    text-align: center;
    font-size: 150px;
    letter-spacing: 15px;
    padding-top: 50px;
    padding-right: 40px;
}
p{
    font-family: winkle, system-ui;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    font-size: 40px;
    width: 60%;
    align-items: center;
    margin: 0;
}
nav{font-family: winkle; font-size: 35px;}
.title {align-items: center; justify-content: center;}

.flip ul {
    list-style-type: none; 
    background-color: pink;
    height: 80px;
    align-items: center;
    text-align: center;
}
.flip li a {
    display: block; 
    width: 60px;
    color: black; 
    padding-right: 16px; padding-top: 16px; padding-bottom: 16px; padding-right:  16px;
    align-items: center;
    text-align: center;
}
.flip ul{list-style-type: none;background-color: pink; justify-content: right; display: flex; align-items: right;
overflow: hidden;
}
.flip li{float: left;}
.flip li a{
    display: block;
    color: rgb(186, 25, 52);
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    justify-content: left;
    width: auto;
}
.flip li a:hover {background-color: #e78a8a
}
.paragraph {
    justify-content: center; 
    display: flex; 
    justify-content: center; 
    padding-top: 50px; 
    padding-bottom: 50px;}
img{width: 20%;}
iframe {
    justify-content: center;
    display: center;
    align-items: center;
    display: flex;
    border: 15px solid #efeded;
    width: 50%;
    height: 500px;
    margin-left: 23%;
}
