@font-face{src: url("media/fonts/Ransom.ttf");
font-family: ransoms;}
@font-face {
    font-family: winkle;
    src: url("media/fonts/Winkle-Regular.ttf");
}

h1{
    font-family: ransoms, system-ui;
    text-align: center;
    font-size: 100px;
    letter-spacing: 15px;
}
p{
    font-family: winkle, system-ui;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    font-size: 30px;
    width: 60%;
    align-items: center;
    margin: 0;
}
*{margin: 0; padding: 0;}
nav{font-family: winkle; font-size: 35px;}
.flip ul {
    list-style-type: none; 
    background-color: pink;
    width: 200px;
    height: 80px;
    align-items: center;
    text-align: center;
}
.flip li a {
    display: block; 
    width: 60px;
    color: black; 
    padding-right: 16px; padding-top: 16px; padding-bottom: 16px; padding-right:  16px;
    align-items: center;
    text-align: center;
}
.flip ul{list-style-type: none;background-color: pink; justify-content: right; display: flex; align-items: right;
}
.flip li{float: right;}
.flip li a{
    display: block;
    color: rgb(186, 25, 52);
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    justify-content: right;
}
.flip li a:hover {background-color: #e96e6e
}
.paragraph {text-align: center; display: flex; justify-content: center;}